<!-- Header -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HackaFindUs.io</title>

<script src = "/js/jquery-2.1.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="../css/index.css">
<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<link href="/css/bootstrap.css" rel="stylesheet">
<script src="/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $('.fb-comments').attr("data-href", document.URL);
  });
</script>
<script src= "/js/fb.js"></script>
<style type="text/css">
  .vertical-align {
    margin-top:20px;
}

  .poke {
    background-image: "/img/pokecard.png";
    width: 421px;
    height: 571px;
  }
</style>

</head>

<body>

<div class="jumbotron" id="banner">
        <h1>HackaFinder</h1>  
        <h2>Hacking teams together since 2014</h2>
</div>
<!-- Header END -->

<div class="container">
    <div class="row" >
        <div class="col-md-3 text-left vertical-align">
                <!-- Button trigger modal -->
         <button class="btn btn-danger btn-lg" onclick="confirm('are you sure you want to leave this team?');">Leave this team</button>
        </div>
        <div class="col-md-6 text-center">
            <h2>{{ideaTitle}}</h2>
           
            <p class="text-left">{{ideaDescription}}</p>
             Using: 
            {{#Tags}}
            <img src="/img/tags/{{imageName}}" width="30px" height="30px">
            {{/Tags}}
        </div>
        <div class="col-md-3"></div>
        <hr>
    </div>
<br>



<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Teammates ({{numTeammates}}/5)</h1>
    </div>
</div>

<div class="row">
{{#Teammates}}
<script>
  $(document).ready(function() {
    var hacker_level = {{level}};
    for (i = 0; i < hacker_level; i++) { 
        $("#hacker{{uuid}}").append('<img src="/img/crystal.png" width="15px" height="15px">')
    }
  });
</script>
    <div class="col-md-3">
        <div class="panel panel-info text-center">
            <div class="panel-heading">
                <h4> {{first_name}} {{last_name}} </h4>
            </div>
            <div class="panel-body">
                <img class="img-rounded " src="{{img}}" alt="..." height="250px" width="200px">
                <br>
                <p id="hacker{{uuid}}">
                </p>
                <p>
                    Hacker Level:                    
                </p>
                    
            </div>
            <div class="panel-footer">
                <b><p>Special Abilities:</b> 
                <br>
                {{skills}}</p>
            </div>
        </div>
    </div> <!-- End Col-md-3-->
{{/Teammates}}
</div> <!-- End row-->

</div> <!-- End countainer -->
    <!-- Members rows -->

<div id = 'comments' class="fb-comments" data-href="http://example.com/comments" data-numposts="5" data-colorscheme="light", data-width="100%"></div>
</body>
