<!-- Header -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HackaFindUs.io</title>
<script src = "js/jquery-2.1.1.min.js"></script>
<script src = "js/fb.js"></script>
<link rel="stylesheet" type="text/css" href="../css/index.css">
<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<link href="/css/bootstrap.css" rel="stylesheet">
<script src="/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js" ></script>
<style type="text/css">
  .vertical-align {
    margin-top:20px;
}
</style>

</head>

<body>

<div class="jumbotron" id="banner">
        <h1>HackaFinder</h1>  
        <h2>Hacking teams together since 2014</h2>
</div>
<!-- Header END -->

<!-- oursite.com/findTeams.html? -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-left">
                <h2>Teams:</h2>
            </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="text-right vertical-align">
            <!-- Button trigger modal -->
              <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Create Team
              </button>
          </div>
        </div>
    </div>
    <hr>
    <div class="row">
{{#Teams}}
      <div class="col-md-6">
       <div class="panel panel-{{panelType}}">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="/img/leader1.jpg" alt="..." height="50px" width="50px">
              </a>
                  <div class="media-body">
                    <div class="col-md-6">
                        <h4 class="media-heading">{{title}}</h4>
                    {{description}}
                    </div>
                    <div class="col-md-6 text-right">
                      {{#Tags}}
                        <img src="/img/tags/{{imageName}}" width="30px" height="30px">
                      {{/Tags}}
                    </div>
                    
                </div>
            </div>
          </div>
          <div class="panel-body">
            Looking for: {{looking}}
          </div>
          <div class=panel-footer>
            <a href="/myGroup?hackathon={{hackathon}}&groupId={{gid}}">View Team</a>
          </div>
      </div>
    </div>
{{/Teams}}
    </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"> Create new Team</h4>
      </div>
      <div class="modal-body">
        <form class= "form-new-group" method="get" action="/app/teaminfo">
          <div class="form-group">

          <div class="control-group">
            <label class="control-label" for="inputEmail">Title</label>
              <div class="controls">
                  <input type="text" id="title" placeholder="Title"  class="form-control">
              </div>
            </div>
            </div>
          <div class="form-group">
          <div class="control-group">
            <label class="control-label" for="inputLooking">Looking for</label>
              <div class="controls">
                  <input type="text" id="looking" placeholder="e.g. backend developer"  class="form-control">
              </div>
          </div>
          </div>
          <div class="form-group">
          <div class="control-group">
            <label class="control-label" for="inputKeywords">Keywords</label>
              <div class="controls">
                  <input type="text" id="keywords" placeholder="e.g. Node.js, Ruby "  class="form-control">
              </div>
          </div>
          </div>
          <div class="form-group">
          <div class="control-group">
            <label class="control-label" for="inputSize">Group Size</label>
              <div class="controls">
                  <input type="text" id="size" placeholder="Size"  class="form-control">
              </div>
          </div>
          </div>
          <div class="form-group">
           <div class="control-group">
            <label class="control-label" for="inputDescription">Description</label>
                <div class="controls">
                  <textarea class="form-control" placeholder="Description" id="description" rows="7"></textarea>
                </div>
          </div>
          </div>

          <div class="form-group">
           <div class="control-group">
            <label class="control-label" for="inputDescription">Group type</label>
                <div class="controls">
                  <div class="row text-center">
                    <div class="col-md-4">
                      <input type="radio" name="grouptype" value="Hack to Win"> 
                      <p>Hack to Win</p>
                    </div>
                    <div class="col-md-4">
                      <input type="radio" name="grouptype" value="Beginner Friendly"> 
                      <p>Beginner Friendly</p>
                    </div>
                    <div class="col-md-4">
                      <input type="radio" name="grouptype" value="Explore"> 
                      <p>Explore</p>
                    </div>
                  </div>
                </div>
          </div>
          </div>

          <div class="form-group">
            <div class="control-group">
              <label class="control-label"
              for="inputDescription">Skills</label>
              <div class="controls">
              <label class="checkbox-inline">
                <input type="checkbox" id="android" value="android.png"> <img src="/img/tags/android.png" height="45px" width="45px">
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="geolocation" value="geolocation.png"> <img src="/img/tags/geolocation.png" height="45px" width="45px">
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="hardware" value="hardware.jpg"> <img src="/img/tags/hardware.jpg" height="45px" width="45px">
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="ios" value="ios.png"> <img src="/img/tags/ios.png" height="45px" width="45px">
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="nodejs1" value="nodejs.jpeg"> <img src="/img/tags/nodejs.jpeg" alt="wearables" height="45px" width="45px">
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="nodejs2" value="nodejs.png"> <img src="/img/tags/nodejs.png" height="45px" width="45px">
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="wearables" value="wearables.png"> <img src="/img/tags/wearables.png" height="45px" width="45px">
              </label>
              </div>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick='registerIdea("{{hackathon}}");'>Create</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
</body>
